In [1]:
import pandas as pd
from ta import add_all_ta_features
from ta.utils import dropna

,"('bid', 'Open')","('bid', 'High')","('bid', 'Low')","('bid', 'Close')","('ask', 'Open')","('ask', 'High')","('ask', 'Low')","('ask', 'Close')"
2022-12-30 12:00:00,33102.4,33113.9,33069.9,33079.4,33106.0,33117.5,33073.5,33083.0
2022-12-30 13:00:00,33078.9,33086.9,33043.9,33067.4,33082.5,33090.5,33047.5,33071.0
2022-12-30 14:00:00,33066.9,33107.5,32909.0,32993.0,33070.5,33109.9,32911.4,32995.4
2022-12-30 15:00:00,32993.5,33074.5,32930.0,32977.0,32995.9,33076.9,32932.4,32979.4
2022-12-30 16:00:00,32977.5,33016.6,32907.5,33002.6,32979.9,33019.0,32909.9,33005.0
...,...,...,...,...,...,...,...,...
2023-03-01 08:00:00,32695.0,32729.5,32659.5,32709.0,32698.6,32733.1,32663.1,32712.6
2023-03-01 09:00:00,32706.5,32742.0,32670.5,32692.0,32710.1,32745.6,32674.1,32695.6
2023-03-01 10:00:00,32692.5,32722.0,32671.5,32720.0,32696.1,32725.6,32675.1,32723.6
2023-03-01 11:00:00,32720.5,32735.0,32704.5,32710.0,32724.1,32738.6,32708.1,32713.6
2023-03-01 12:00:00,32710.5,32723.0,32689.5,32717.5,32714.1,32726.6,32693.1,32721.1

In [6]:
# Load datas
df = pd.read_csv('data/test-data.csv', sep=',' index)

,Unnamed: 0,bid,bid.1,bid.2,bid.3,ask,ask.1,ask.2,ask.3
0,NaN,Open,High,Low,Close,Open,High,Low,Close
1,DateTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-12-30 12:00:00,33102.4,33113.9,33069.9,33079.4,33106.0,33117.5,33073.5,33083.0
3,2022-12-30 13:00:00,33078.9,33086.9,33043.9,33067.4,33082.5,33090.5,33047.5,33071.0
4,2022-12-30 14:00:00,33066.9,33107.5,32909.0,32993.0,33070.5,33109.9,32911.4,32995.4
...,...,...,...,...,...,...,...,...,...
997,2023-03-01 08:00:00,32695.0,32729.5,32659.5,32709.0,32698.6,32733.1,32663.1,32712.6
998,2023-03-01 09:00:00,32706.5,32742.0,32670.5,32692.0,32710.1,32745.6,32674.1,32695.6
999,2023-03-01 10:00:00,32692.5,32722.0,32671.5,32720.0,32696.1,32725.6,32675.1,32723.6
1000,2023-03-01 11:00:00,32720.5,32735.0,32704.5,32710.0,32724.1,32738.6,32708.1,32713.6
1001,2023-03-01 12:00:00,32710.5,32723.0,32689.5,32717.5,32714.1,32726.6,32693.1,32721.1

In [7]:
# Clean NaN values
df = dropna(df)
df

,Unnamed: 0,bid,bid.1,bid.2,bid.3,ask,ask.1,ask.2,ask.3
2,2022-12-30 12:00:00,33102.4,33113.9,33069.9,33079.4,33106.0,33117.5,33073.5,33083.0
3,2022-12-30 13:00:00,33078.9,33086.9,33043.9,33067.4,33082.5,33090.5,33047.5,33071.0
4,2022-12-30 14:00:00,33066.9,33107.5,32909.0,32993.0,33070.5,33109.9,32911.4,32995.4
5,2022-12-30 15:00:00,32993.5,33074.5,32930.0,32977.0,32995.9,33076.9,32932.4,32979.4
6,2022-12-30 16:00:00,32977.5,33016.6,32907.5,33002.6,32979.9,33019.0,32909.9,33005.0
...,...,...,...,...,...,...,...,...,...
997,2023-03-01 08:00:00,32695.0,32729.5,32659.5,32709.0,32698.6,32733.1,32663.1,32712.6
998,2023-03-01 09:00:00,32706.5,32742.0,32670.5,32692.0,32710.1,32745.6,32674.1,32695.6
999,2023-03-01 10:00:00,32692.5,32722.0,32671.5,32720.0,32696.1,32725.6,32675.1,32723.6
1000,2023-03-01 11:00:00,32720.5,32735.0,32704.5,32710.0,32724.1,32738.6,32708.1,32713.6
1001,2023-03-01 12:00:00,32710.5,32723.0,32689.5,32717.5,32714.1,32726.6,32693.1,32721.1

In [13]:
analysis[['bid', 'bid.1', 'bid.2', 'bid.3']]

KeyError: "None of [Index(['bid', 'bid.1', 'bid.2', 'bid.3'], dtype='object')] are in the [columns]"